<div class="balance-container">

    <div class="box-header"><span class="title">balance ...</span></div>
    <div class="balance-data">

        <div class="balance-right">

            <div class="non-current-assets">
                <div>Non Current Assets</div>
            </div>
            <div class="current-assets">
                <div>Current Assets</div>
            </div>

        </div>
        <div class="balance-left">

            <div class="equity">Equity</div>
            <div class="non-current-liabilities">Non Current Liabilities</div>
            <div class="current-liabilities">Current Liabilities</div>


        </div>





    </div>


</div>












